{# template/job/index.html.twig #}
{% extends "base.html.twig" %}

{% block bodyIndex %}
<div class="jumbotron">
  <div class="container">
    <h1>Le job qu'il vous faut se trouve peut etre ici</h1>
    <hr>
    <button type="button" class="btn btn-primary">Trouver un job</button>
  </div>
</div>


{% endblock %}
